@media screen and (max-width:576px) {
    /* header responsive start */
    .hero-section{
        flex-direction: column;
        gap:50px;
    }
    .left-contain{
        width:90%;
        margin: 0 auto;
    }
    .hero-title{
        font-size: 2.5rem;
    }
    .img-1{
        left:30px;
    }
    /* header responsive end here */
    
}